<!--

contact us page (team)

who we are

-->

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <h1 class="brand-heading"><span style="color:#e62b1e; font-size: 1.5em;">TED<span
                                style="vertical-align: super;font-size:0.6em;">x</span></span><br>HarvardCollege</h1>

                <p class="intro-text">Coming in 2015</p>

            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="container content-section">
    <div class="row">
        <h2>Who We Are</h2>
        <a class="btn" href="/join.html">Join Us</a>
        <a class="btn" href="/team.html">The Team</a>

        <h4>A Team. An Event. An Inspiration.</h4>

        <p>TEDxHarvardCollege is a platform for ideas worth sharing. Harvard students are coming together for the
            first time in the College’s history to combine two of the largest names in innovation. Through
            TEDxHarvardCollege’s unique events and collaborations, we connect the world’s brightest minds and
            stories with the global community. Learn more here [link to page with bios] and join us here [link to
            page about comp process]. Our first event will be in the Fall of 2015.</p>

        <h2>What is TED?</h2>

        <p class="col-sm-6">TED is a nonprofit organization devoted to Ideas Worth Spreading. Started as a four-day
            conference in
            California 25 years ago, TED has grown to support those world-changing ideas with multiple
            initiatives. The annual TED Conference invites the world’s leading thinkers and doers to speak for
            18 minutes. Their talks are then made available, free, at TED.com. TED speakers have included Bill
            Gates, Al Gore, Jane Goodall, Elizabeth Gilbert, Sir Richard Branson, Nandan Nilekani, Philippe
            Starck, Ngozi Okonjo-Iweala, Isabel Allende and former UK Prime Minister Gordon Brown. The annual
            TED Conference takes place each spring in Long Beach, California, along with the TEDActive simulcast
            in Palm Springs; the annual TEDGlobal conference is held each summer in Edinburgh, Scotland.</p>

        <p class="col-sm-6">TED's media initiatives include TED.com, where new TEDTalks are posted daily, the recently
            launched
            TED-Ed platform for students and educators, the Open Translation Project, which provides subtitles
            and interactive transcripts as well as the ability for any TEDTalk to be translated by volunteers
            worldwide, and TEDBooks, short e-books by speakers that elaborate on a single idea originally
            presented on TED's stage. TED has established the annual TED Prize, where exceptional individuals
            with a wish to change the world are given the opportunity to put their wishes into action; TEDx,
            which offers individuals or groups a way to host local, self-organized events around the world, and
            the TED Fellows program, helping world-changing innovators from around the globe to become part of
            the TED community and, with its help, amplify the impact of their remarkable projects and
            activities. Follow TED on Twitter or on Facebook.</p>

        <p>Our first event will be in the Fall of 2015.</p>

    </div>
</section>

<!-- Download Section -->
<section id="download" class="content-section">
    <div class="download-section">
        <div class="container">
            <div class="shade">
                <h2>Events</h2>

                <h4>TEDxHarvardCollege</h4>

                <p>TEDxHarvardCollege is coming in Fall 2015. We put a year’s worth of planning into our main event to
                    ensure it’s a top-tier conference featuring speakers at the forefront of their fields. Once ticket
                    sales begin, a limited number will be available for the greater Boston community. Stay tuned for
                    more details.</p>

                <h4>Smaller Events</h4>

                <p>Aside from our main conference, TEDxHarvardCollege also facilitates smaller, more frequent events
                    throughout the year, such as our Salons and socials. The TEDx Salon is a periodic gathering of
                    interested individuals to continue the discussion with curated TEDx Talks and live speakers. Our
                    first Salon event will be happening soon -- stay tuned.
                </p>

                <h4>Interested in Speaking</h4>

                <p>Would you like to speak at one of our events? If interested, please fill out this <a href="https://docs.google.com/forms/d/1SFN2r87trcRD2Hw2dF6PQSZhZFl0Kv7d4XbcQz0V550/viewform?usp=send_form">form</a>. Our curators will review your application and be in touch with you. Please direct
                    questions to mark@tedxharvardcollege.org.</p>
            </div>
        </div>
</section>

<!-- Map Section -->
<div id="map"></div>
<!-- Google Maps API Key -
TODO Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>
<script>
    // Google Maps Scripts
    // When the window has finished loading create our google map below
    google.maps.event.addDomListener(window, 'load', init);

    function init() {
        // Basic options for a simple Google Map
        // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
        var mapOptions = {
            // How zoomed in you want the map to start at (always required)
            zoom: 15,

            // The latitude and longitude to center the map (always required)
            center: new google.maps.LatLng(42.375833, -71.1147449), // Sanders Theatre

            // Disables the default Google Maps UI components
            disableDefaultUI: true,
            scrollwheel: false,
            draggable: false,
            keyboardShortcuts: false,

            // How you would like to style the map.
            // This is where you would paste any style found on Snazzy Maps.
            styles: [{
                featureType: "poi",
                elementType: "labels",
                stylers: [
                    {visibility: "off"}
                ]
            }]
        };

        // Get the HTML DOM element that will contain your map
        // We are using a div with id="map" seen below in the <body>
        var mapElement = document.getElementById('map');

        // Create the Google Map using out element and options defined above
        var map = new google.maps.Map(mapElement, mapOptions);

        // Custom Map Marker Icon - Customize the map-marker.png file to customize your icon
        var myLatLng = new google.maps.LatLng(42.3758795, -71.1145451);
        new google.maps.Marker({
            position: myLatLng,
            map: map
        });
    }
</script>


