<!--

contact us page (team)

who we are

-->

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <h1 class="brand-heading"><span style="color:#e62b1e; font-size: 1.5em;">TED<span
                                style="vertical-align: super;font-size:0.6em;">x</span></span><br>HarvardCollege</h1>

                <p class="intro-text">Coming Soon 2015</p>

            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="container content-section">
    <div class="row">
        <h2>Join Us</h2>

        <p>Are you interested in sponsoring TEDxHarvardCollege? Click here.</p>

        <h2>New Members</h2>
        <h4>Social Aspects</h4>

        <p>We are all gathered here to be inspired and to inspire and so the social aspect of TEDxHarvardCollege plays
            an immense role. TEDxHarvardCollege is a place for you to be inspired, influenced, and entertained.
            TEDxHarvardCollege is a space where you can explore your full potential by connecting with other Harvard
            students and also the rest of the world.</p>

        <h4>Comp Process</h4>

        <p>TEDxHarvardCollege is a small and dedicated team that is bringing TEDx to the Harvard Campus for the first
            time in Harvard's history. We attract some of Harvard's brightest students to collaborate on this project
            and so we ask that you apply early and be thorough in your answers. If you think you are interested in
            joining the team, tell us about yourself here and we'll be in touch with you shortly. For more information
            about joining TEDxHarvardCollege, contact mido@tedxharvardcollege.org.</p>

    </div>
</section>
