<section id="intro" class="parallax-group">
    <div class="parallax-layer parallax-base">
        <div class="container text">
            <h1 class="brand-heading">Speakers</h1>

            <p class="intro-text">Coming in 2015</p>
        </div>
    </div>
    <div class="parallax-layer parallax-back speakers">
    </div>
</section>
<section id="primary" class="parallax-group">
    <div class="parallax-layer parallax-base">
        <div class="container">
            <h2>Student Speakers</h2>
            <p>Info about Guest speakers. Info about Guest speakers. Info about Guest speakers. Info about Guest
                speakers. Info about Guest speakers. Info about Guest speakers. Info about Guest speakers. Info about
                speakers. Info about Guest speakers. Info about Guest speakers. Info about Guest speakers. Info about
                Info about Guest speakers. Info about Guest speakers. Info about Guest speakers. Info about Guest
                speakers. Info about Guest speakers. Info about Guest speakers. Info about Guest speakers. Info about
                Guest speakers. </p>

            <h2>Faculty Speakers</h2>
            <p>Info about Guest speakers. Info about Guest speakers. Info about Guest speakers. Info about Guest
                speakers. Info about Guest speakers. Info about Guest speakers. Info about Guest speakers. Info about
                speakers. Info about Guest speakers. Info about Guest speakers. Info about Guest speakers. Info about
                Info about Guest speakers. Info about Guest speakers. Info about Guest speakers. Info about Guest
                speakers. Info about Guest speakers. Info about Guest speakers. Info about Guest speakers. Info about
                Guest speakers. </p>

            <h2>Guest Speakers</h2>
            <p>Info about Guest speakers. Info about Guest speakers. Info about Guest speakers. Info about Guest
                speakers. Info about Guest speakers. Info about Guest speakers. Info about Guest speakers. Info about
                speakers. Info about Guest speakers. Info about Guest speakers. Info about Guest speakers. Info about
                Info about Guest speakers. Info about Guest speakers. Info about Guest speakers. Info about Guest
                speakers. Info about Guest speakers. Info about Guest speakers. Info about Guest speakers. Info about
                Guest speakers. </p>


            <h1>Speakers</h1>

            <div class="row">
                <div class="col-sm-3">
                    <img src="http://placehold.it/256x256" alt="Profile pic" class="img-responsive img-thumbnail"/>
                </div>
                <div class="col-sm-9">
                    <h2>Johnny Appleseed</h2>
                    <p>TEDxHarvardCollege, in the spirit of ideas worth sharing, hopes to offer Harvard undergraduates and
                        community members innovative and interesting ideas and promote a vibrant discussion throughout academic
                        year. We also hope to connect Harvard students to rest of the world and help them share innovations and
                        creative ideas, especially to the Boston community by active use of SNS and by bringing high school
                        students from Boston to spread Harvard’s leading ideas to the Greater Boston Community.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 pull-right">
                    <img src="http://placehold.it/256x256" alt="Profile pic" class="img-responsive img-thumbnail"/>
                </div>
                <div class="col-sm-9">
                    <h2>Johnny Appleseed</h2>
                    <p>TEDxHarvardCollege, in the spirit of ideas worth sharing, hopes to offer Harvard undergraduates and
                        community members innovative and interesting ideas and promote a vibrant discussion throughout academic
                        year. We also hope to connect Harvard students to rest of the world and help them share innovations and
                        creative ideas, especially to the Boston community by active use of SNS and by bringing high school
                        students from Boston to spread Harvard’s leading ideas to the Greater Boston Community.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <img src="http://placehold.it/256x256" alt="Profile pic" class="img-responsive img-thumbnail"/>
                </div>
                <div class="col-sm-9">
                    <h2>Johnny Appleseed</h2>
                    <p>TEDxHarvardCollege, in the spirit of ideas worth sharing, hopes to offer Harvard undergraduates and
                        community members innovative and interesting ideas and promote a vibrant discussion throughout academic
                        year. We also hope to connect Harvard students to rest of the world and help them share innovations and
                        creative ideas, especially to the Boston community by active use of SNS and by bringing high school
                        students from Boston to spread Harvard’s leading ideas to the Greater Boston Community.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 pull-right">
                    <img src="http://placehold.it/256x256" alt="Profile pic" class="img-responsive img-thumbnail"/>
                </div>
                <div class="col-sm-9">
                    <h2>Johnny Appleseed</h2>
                    <p>TEDxHarvardCollege, in the spirit of ideas worth sharing, hopes to offer Harvard undergraduates and
                        community members innovative and interesting ideas and promote a vibrant discussion throughout academic
                        year. We also hope to connect Harvard students to rest of the world and help them share innovations and
                        creative ideas, especially to the Boston community by active use of SNS and by bringing high school
                        students from Boston to spread Harvard’s leading ideas to the Greater Boston Community.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <img src="http://placehold.it/256x256" alt="Profile pic" class="img-responsive img-thumbnail"/>
                </div>
                <div class="col-sm-9">
                    <h2>Johnny Appleseed</h2>
                    <p>TEDxHarvardCollege, in the spirit of ideas worth sharing, hopes to offer Harvard undergraduates and
                        community members innovative and interesting ideas and promote a vibrant discussion throughout academic
                        year. We also hope to connect Harvard students to rest of the world and help them share innovations and
                        creative ideas, especially to the Boston community by active use of SNS and by bringing high school
                        students from Boston to spread Harvard’s leading ideas to the Greater Boston Community.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3  pull-right">
                    <img src="http://placehold.it/256x256" alt="Profile pic" class="img-responsive img-thumbnail"/>
                </div>
                <div class="col-sm-9">
                    <h2>Johnny Appleseed</h2>
                    <p>TEDxHarvardCollege, in the spirit of ideas worth sharing, hopes to offer Harvard undergraduates and
                        community members innovative and interesting ideas and promote a vibrant discussion throughout academic
                        year. We also hope to connect Harvard students to rest of the world and help them share innovations and
                        creative ideas, especially to the Boston community by active use of SNS and by bringing high school
                        students from Boston to spread Harvard’s leading ideas to the Greater Boston Community.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <img src="http://placehold.it/256x256" alt="Profile pic" class="img-responsive img-thumbnail"/>
                </div>
                <div class="col-sm-9">
                    <h2>Johnny Appleseed</h2>
                    <p>TEDxHarvardCollege, in the spirit of ideas worth sharing, hopes to offer Harvard undergraduates and
                        community members innovative and interesting ideas and promote a vibrant discussion throughout academic
                        year. We also hope to connect Harvard students to rest of the world and help them share innovations and
                        creative ideas, especially to the Boston community by active use of SNS and by bringing high school
                        students from Boston to spread Harvard’s leading ideas to the Greater Boston Community.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3  pull-right">
                    <img src="http://placehold.it/256x256" alt="Profile pic" class="img-responsive img-thumbnail"/>
                </div>
                <div class="col-sm-9">
                    <h2>Johnny Appleseed</h2>
                    <p>TEDxHarvardCollege, in the spirit of ideas worth sharing, hopes to offer Harvard undergraduates and
                        community members innovative and interesting ideas and promote a vibrant discussion throughout academic
                        year. We also hope to connect Harvard students to rest of the world and help them share innovations and
                        creative ideas, especially to the Boston community by active use of SNS and by bringing high school
                        students from Boston to spread Harvard’s leading ideas to the Greater Boston Community.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <img src="http://placehold.it/256x256" alt="Profile pic" class="img-responsive img-thumbnail"/>
                </div>
                <div class="col-sm-9">
                    <h2>Johnny Appleseed</h2>
                    <p>TEDxHarvardCollege, in the spirit of ideas worth sharing, hopes to offer Harvard undergraduates and
                        community members innovative and interesting ideas and promote a vibrant discussion throughout academic
                        year. We also hope to connect Harvard students to rest of the world and help them share innovations and
                        creative ideas, especially to the Boston community by active use of SNS and by bringing high school
                        students from Boston to spread Harvard’s leading ideas to the Greater Boston Community.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 pull-right">
                    <img src="http://placehold.it/256x256" alt="Profile pic" class="img-responsive img-thumbnail"/>
                </div>
                <div class="col-sm-9">
                    <h2>Johnny Appleseed</h2>
                    <p>TEDxHarvardCollege, in the spirit of ideas worth sharing, hopes to offer Harvard undergraduates and
                        community members innovative and interesting ideas and promote a vibrant discussion throughout academic
                        year. We also hope to connect Harvard students to rest of the world and help them share innovations and
                        creative ideas, especially to the Boston community by active use of SNS and by bringing high school
                        students from Boston to spread Harvard’s leading ideas to the Greater Boston Community.</p>
                </div>
            </div>

        </div>

    </div>
</section>
