<!--

contact us page (team)

sponsorship

who we are

-->

<body>


<!-- Intro Header -->
<header class="intro sponsor">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <h1 class="brand-heading">Sponsor <span style="color:#e62b1e;">TED<span
                                style="vertical-align: super;font-size:0.6em;">x</span></span></h1>

                <p class="intro-text">Invest in the future.</p>

            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="container content-section">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>What is TED?</h2>

            <p>TED is a nonprofit devoted to spreading ideas, usually in the form of short, powerful talks (18 minutes
                or less). TED began in 1984 as a conference where Technology, Entertainment and Design converged, and
                today covers almost all topics — from science to business to global issues — in more than 100 languages.
                Meanwhile, independently run TEDx events help share ideas in communities around the world.</p>

            <h2>Why sponsor TEDxHarvardCollege?</h2>

            <p>The ideas presented at TEDxHarvardCollege are often novel and multidisciplinary, often transcending
                geopolitical boundaries and other comfortable constructions. In short, these ideas move the world
                forward for the better, and it is the responsibility of every global citizen to partake in that.</p>

            <h4>Brand Exposure</h4>

            <p>Get unrivaled access to a target audience of highly-educated Harvard students who will become the future
                movers and shakers of our world.</p>
            <h4>Direct Communication</h4>

            <p>Recruit top talent directly from our audience members and mailing list. Target students from academic
                departments and year levels with your e-mails.</p>
            <h4>Citizenship Initiative</h4>

            <p>Contributions from donors will allow TEDxHarvardCollege to make ideas and resources available to a bigger
                audience than we can physically accommodate.</p>

            <h2>Our Audience</h2>

            <p><strong>12 world-class speakers</strong>, most of whom will be leading figures in
                their fields, delivering talks or giving performances under 18 minutes.</p>

            <p><strong>Over 500 attendees</strong>, a mix of Harvard undergraduates, graduate students, alumni, faculty
                members, and members of the local community.</p>

            <p><strong>Other sponsors</strong>, including corporations and alumni, who are providing in-kind donations
                and financial support.</p>

            <p><strong>A global network</strong> of individuals watching the videos online and participating in a larger
                discussion.</p>

            <h1>Sponsorship Packages</h1>
            <h4>Platinum Sponsor ($25,000)</h4>
            <ul>
                <li>Twenty tickets to the event, as well as a discount on the corporate group rate (more information
                    upon inquiry)
                </li>
                <li>Five tickets to an exclusive dinner networking session with speakers, alumni donors, and other
                    sponsors
                </li>
                <li>Explicit mention by the TEDxHarvardCollege host & acknowledgement of partnership during opening
                    remarks
                </li>
                <li>Naming rights for lunch (only one available)
                </li>
                <li>Logo on staff t-shirts</li>
                <li>Opportunity for booth or sponsored space</li>
                <li>Opportunity to place items in gift bag</li>
                <li>Opportunity to host promotional activity during break times</li>
                <li>One weekly mailing to members of our mailing list for the two months prior to the event and one
                    month immediately after
                </li>
                <li>Recognition in all slideshows and printed program – Logo 1st rank with corporate description</li>
                <li>On-site branding through printed banners and collateral – Logo 1st rank</li>
            </ul>

            <h4>Gold Sponsor ($10,000)</h4>
            <ul>
                <li>Ten tickets to the event, as well as a discount on the corporate group rate (more information upon
                    inquiry)
                </li>
                <li>Three tickets to an exclusive dinner networking session with speakers, alumni donors, and other
                    sponsors
                </li>
                <li>Explicit mention by the TEDxHarvardCollege host & acknowledgement of partnership during opening
                    remarks
                </li>
                <li>Naming rights for breaks (two available)</li>
                <li>Opportunity for booth or sponsored space</li>
                <li>Opportunity to place items in gift bag</li>
                <li>Opportunity to host promotional activity during break times
                </li>
                <li>One bi-weekly mailing to members of our mailing list for the two months prior to the event and one
                    month immediately after
                </li>
                <li>Recognition in all slide shows and printed program – Logo 2nd rank with corporate description</li>
                <li>On-site branding through printed banners and collateral – Logo 2nd rank</li>
            </ul>

            <h4>Silver Sponsor ($5,000)</h4>
            <ul>
                <li>Five tickets to the event, as well as a discount on the corporate group rate (more information upon
                    inquiry)
                </li>
                <li>Two tickets to an exclusive dinner networking session with speakers, alumni donors, and other
                    sponsors
                </li>
                <li>Explicit mention by the TEDxHarvardCollege host</li>
                <li>Opportunity for booth or sponsored space</li>
                <li>Opportunity to place items in gift bag</li>
                <li>One bi-weekly mailing to members of our mailing list for the two months prior to the event and one
                    month immediately after
                </li>
                <li>Recognition in all slide shows and printed program – Logo 3rd rank</li>
                <li>On-site branding through printed banners and collateral – Logo 3rd rank</li>
            </ul>

            <h4>Bronze Sponsor ($1,000)</h4>
            <ul>
                <li>Three tickets to the event, as well as a discount on the corporate group rate (more information upon
                    inquiry)
                </li>
                <li>One ticket to an exclusive dinner networking session with speakers, alumni donors, and other
                    sponsors
                </li>
                <li>Opportunity to place items in gift bag</li>
                <li>Opportunity to place items in gift bag
                    One monthly mailing to members of our mailing list for the two months prior to the event and one
                    month immediately after
                </li>
                <li>Recognition in all slide shows and printed program – Logo 4th rank</li>
                <li>On-site branding through printed banners and collateral – Logo 4th rank</li>
            </ul>

            <h2>In-Kind Sponsorships</h2>

            <p>In addition to cash sponsorships, we are also in need of several services which you can provide in kind.
                Below are some areas we have identified. Benefit packages will be customized based on the relative value
                of the in-kind gift.</p>
            <ul>
                <li>Catering</li>
                <li>Beverages (alcoholic and non-alcoholic)</li>
                <li>Printing</li>
                <li>Photography and Videography</li>
                <li>Media</li>
                <li>Giveaways</li>
                <li>T-Shirts and other paraphernalia</li>
                <li>Live webcast</li>
                <li>Decorations</li>
                <li>Technology support</li>
                <li>Community building and launch activities</li>
            </ul>

        </div>
    </div>
</section>

