<!--

contact us page (team)

sponsorship

who we are

-->

<body>


<!-- Intro Header -->
<header class="intro sponsor">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <h1 class="brand-heading">Sponsor <span style="color:#e62b1e;">TED<span
                                style="vertical-align: super;font-size:0.6em;">x</span></span></h1>

                <p class="intro-text">More texthere</p>

            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="container content-section">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Content to Layout</h2>

            <p>TEDxHarvardCollege is a student organization and curation team at Harvard dedicated to bringing about
                the inaugural TEDx event to the Harvard College community. We have a core team of 7 leaders, with a
                general membership of around 40 undergraduates. We are dedicated to ideas worth spreading and
                stories worth telling. Learn more here [link to page with bios] and join us here [link to page about
                comp process].</p>



        </div>
    </div>
</section>

<!-- Download Section -->
<section id="download" class="content-section">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2 shade">
                <h2>Events</h2>

                <h4>TEDxHarvardCollege</h4>

                <p>TEDxHarvardCollege is coming in Fall 2015. We put a year’s worth of planning into our main event to
                    ensure it’s a top-tier conference featuring speakers at the forefront of their fields. Once ticket
                    sales begin, a limited number will be available for the greater Boston community. Stay tuned for
                    more details.</p>

                <h4>Smaller Events</h4>

                <p>Aside from our main conference, TEDxHarvardCollege also facilitates smaller, more frequent events
                    throughout the year, such as our Salons and socials. The TEDx Salon is a periodic gathering of
                    interested individuals to continue the discussion with curated TEDx Talks and live speakers. Our
                    first Salon event will be happening soon -- stay tuned.
                </p>

                <h4>Interested in Speaking</h4>

                <p>Would you like to speak at one of our events? If interested, please fill out this form [link doesn’t
                    exist yet]. Our curators will review your application and be in touch with you. Please direct
                    questions to mark@tedxharvardcollege.org.</p>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact" class="container content-section">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Join Us</h2>

            <p>Are you interested in sponsoring TEDxHarvardCollege? Click here.</p>

            <h4>Why TEDxHarvardCollege</h4>

            <p>TEDxHarvardCollege, in the spirit of ideas worth sharing, hopes to offer Harvard undergraduates and
                community members innovative and interesting ideas and promote a vibrant discussion throughout academic
                year. We also hope to connect Harvard students to rest of the world and help them share innovations and
                creative ideas, especially to the Boston community by active use of SNS and by bringing high school
                students from Boston to spread Harvard’s leading ideas to the Greater Boston Community.</p>
        </div>
    </div>
</section>

