<!--

contact us page (team)

sponsorship

who we are

-->

<body>


<!-- Intro Header -->
<header class="intro sponsor">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <h1 class="brand-heading">The Team behind <span style="color:#e62b1e;">TED<span
                                style="vertical-align: super;font-size:0.6em;">x</span></span></h1>

                <p class="intro-text">More texthere</p>

            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="container content-section">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h4>Why TEDxHarvardCollege</h4>

            <p>TEDxHarvardCollege, in the spirit of ideas worth sharing, hopes to offer Harvard undergraduates and
                community members innovative and interesting ideas and promote a vibrant discussion throughout academic
                year. We also hope to connect Harvard students to rest of the world and help them share innovations and
                creative ideas, especially to the Boston community by active use of SNS and by bringing high school
                students from Boston to spread Harvard’s leading ideas to the Greater Boston Community.</p>

        </div>
    </div>
</section>

<!-- Download Section -->
<section id="download" class="content-section">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2 shade clearfix">

                <h2>Board Members</h2>

                <div class="thumbnail col-xs-6 col-sm-4 col-md-3">
                    <div class="caption">
                        <h4>Eva Shang</h4>
                        <p>Eva Shang is a sophomore at Harvard, studying Economics and Sociology. She is passionate about prison reform, especially on the issue of incarcerated women. Her favorite poet is Mary Oliver.</p>
                    </div>
                    <img src="/img/eshang.jpg" alt="Eva Shang">
                </div>

                <div class="thumbnail col-xs-6 col-sm-4 col-md-3">
                    <div class="caption">
                        <h4>Christian Haigh</h4>
                        <p>Christian Haigh is a sophomore at Harvard, studying Economics and Computer Science. Originally from England, Christian is passionate about computer privacy and human rights. Every so often, he bakes fruit scones for the team.</p>
                    </div>
                    <img src="/img/chaigh.jpg" alt="Christian Haigh">
                </div>

                <div class="thumbnail col-xs-6 col-sm-4 col-md-3">
                    <div class="caption">
                        <h4>Mark Staples</h4>
                        <p>From Fargo, North Dakota, Mark is a member of the class of 2017 and is studying economics. Apart from working on speaker curation for TEDxHarvardCollege, Mark is also a member of the Leadership Institute at Harvard College.</p>
                    </div>
                    <img src="/img/mstaples.jpg" alt="Mark Staples">
                </div>

                <div class="thumbnail col-xs-6 col-sm-4 col-md-3">
                    <div class="caption">
                        <h4>Lance Katigbak</h4>
                        <p>Lance is a junior at Harvard studying Film Production and Psychology. Outside TEDxHarvard, he is the Founder and President of Springboard: The Harvard College Design Club and the Creative Director of Mt. Auburn Productions. Lance is passionate about design and youth empowerment, and enjoys trolling the board members.</p>
                    </div>
                    <img src="http://placehold.it/400x400" alt="Lance Katigbak">
                </div>

                <div class="thumbnail col-xs-6 col-sm-4 col-md-3">
                    <div class="caption">
                        <h4>Mido Choi</h4>
                        <p>Hi I'm Class of 2017, living in Leverett House, majoring in Sociology. I'm passionate about Human Rights issue especially of children. I'm also interested in Hiphop dancing and making power points! </p>
                    </div>
                    <img src="/img/mchoi.jpg" alt="Mido Choi">
                </div>

                <div class="thumbnail col-xs-6 col-sm-4 col-md-3">
                    <div class="caption">
                        <h4>Shuya Gong</h4>
                        <p>您在哪里？我们都想您！</p>
                    </div>
                    <img src="http://placehold.it/400x400" alt="Shuya Gong">
                </div>

                <div class="thumbnail col-xs-6 col-sm-4 col-md-3">
                    <div class="caption">
                        <h4>Roger Zurawicki</h4>

                        <p>Hailing from the Puritan state of Massachusetts, Roger Zurawicki currently resides in Lowell House. A native computer whisper, he insists on finding meaning from nothingness and cats. His hobbies include semaphores, DJing, and terminating lists.</p>
                    </div>
                    <img src="/img/raw/rzurawicki.png" alt="Roger Zurawicki">
                </div>


            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact" class="container content-section">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Join Us</h2>

            <p>Are you interested in sponsoring TEDxHarvardCollege? Click here.</p>
        </div>
    </div>
</section>
