<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="/">
                <span style="color:#e62b1e;">TED<span
                            style="vertical-align: super;font-size:0.6em;">x</span></span><span
                        class="light">HarvardCollege</span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="<%= current.source=='speakers'?'selected':'' %>">
                    <a class="page-scroll" href="/speakers.html">Speakers</a>
                </li>
                <li class="<%= current.source=='team'?'selected':'' %>">
                    <a class="page-scroll" href="/team.html">The Team</a>
                </li>
                <li class="<%= current.source=='sponsor'?'selected':'' %>">
                    <a class="page-scroll" href="/sponsor.html">Sponsor Us</a>
                </li>
                <li class="<%= current.source=='join'?'selected':'' %>">
                    <a class="page-scroll" href="/join.html">Join Us</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>